.w_king {
    background: url('assets/sprites.png') 0px 287px;
    display: block;
    height: 70px;
    width: 70px;
}

.w_queen {
    background: url('assets/sprites.png') 330px 287px;
    display: block;
    height: 70px;
    width: 70px;
}

.w_bishop {
    background: url('assets/sprites.png') 270px 287px;
    display: block;
    height: 70px;
    width: 70px;
}

.w_knight {
    background: url('assets/sprites.png') 205px 287px;
    display: block;
    height: 70px;
    width: 70px;
}

.w_tower {
    background: url('assets/sprites.png') 135px 287px;
    display: block;
    height: 70px;
    width: 70px;
}

.w_pawn {
    background: url('assets/sprites.png') 75px 287px;
    display: block;
    height: 70px;
    width: 70px;
}