.caseBlanc, .caseBrun{
    height : 70px;
    width : 70px;
    border : 1px solid #000000;
    }
    .caseBrun {
    background-color: rgb(71, 17, 17);
    }
    .caseBlanc {
    background-color: #ffffff;
    }

    .pos {
        font-weight: bold;
        text-align: center;
    }